interactions:
- request:
    body: '{"version": "2.4.1", "package": {"name": "jinja2", "ecosystem": "PyPI"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.osv.dev/v1/query
  response:
    content: '{"vulns":[{"id":"GHSA-462w-v97r-4m45","summary":"High severity vulnerability
      that affects Jinja2","details":"In Pallets Jinja before 2.10.1, str.format_map
      allows a sandbox escape.","aliases":["CVE-2019-10906"],"modified":"2022-08-15T08:49:16.398254Z","published":"2019-04-10T14:30:24Z","database_specific":{"github_reviewed":true,"severity":"HIGH","cwe_ids":[]},"references":[{"type":"ADVISORY","url":"https://nvd.nist.gov/vuln/detail/CVE-2019-10906"},{"type":"WEB","url":"https://access.redhat.com/errata/RHSA-2019:1152"},{"type":"WEB","url":"https://access.redhat.com/errata/RHSA-2019:1237"},{"type":"WEB","url":"https://access.redhat.com/errata/RHSA-2019:1329"},{"type":"ADVISORY","url":"https://github.com/advisories/GHSA-462w-v97r-4m45"},{"type":"WEB","url":"https://lists.apache.org/thread.html/09fc842ff444cd43d9d4c510756fec625ef8eb1175f14fd21de2605f@%3Cdevnull.infra.apache.org%3E"},{"type":"W[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://cve.circl.lu/api/cve/CVE-2019-10906
  response:
    content: "{\n    \"Modified\": \"2020-08-24T17:37:00\",\n    \"Published\": \"2019-04-07T00:29:00\",\n
      \   \"access\": {\n        \"authentication\": \"NONE\",\n        \"complexity\":
      \"LOW\",\n        \"vector\": \"NETWORK\"\n    },\n    \"assigner\": \"cve@mitre.org\",\n
      \   \"capec\": [],\n    \"cvss\": 5.0,\n    \"cvss-time\": \"2020-08-24T17:37:00\",\n
      \   \"cvss-vector\": \"AV:N/AC:L/Au:N/C:P/I:N/A:N\",\n    \"cwe\": \"NVD-CWE-noinfo\",\n
      \   \"id\": \"CVE-2019-10906\",\n    \"impact\": {\n        \"availability\":
      \"NONE\",\n        \"confidentiality\": \"PARTIAL\",\n        \"integrity\":
      \"NONE\"\n    },\n    \"last-modified\": \"2020-08-24T17:37:00\",\n    \"redhat\":
      {\n        \"advisories\": [\n            {\n                \"bugzilla\": {\n
      \                   \"id\": \"1698839\",\n                    \"title\": \"CVE-2019-10906
      python-jinja2: str.format_map allows sandbox escape\"\n                },\n
      \               \"oval\": {\n                    \"OR\": [\n                        {\n
      \                           \"comment\": \"Red Hat Enterprise Linux must be
      installed\",\n                            \"oval\": \"oval:com.redhat.rhba:tst:20070304026\"\n
      \                       },\n                        {\n                            \"AND\":
      [\n                                {\n                                    \"comment\":
      \"Red Hat Enterprise Linux 8 is installed\",\n                                    \"oval\":
      \"oval:com.redhat.rhba:tst:20193384074\"\n                                },\n
      \                               {\n                                    \"comment\":
      \"python3-jinja2 is earlier than 0:2.10.1-2.el8_0\",\n                                    \"oval\":
      \"oval:com.redhat.rhsa:tst:20191152001\"\n                                },\n
      \                               {\n                                    \"comment\":
      \"python3-jinja2 is signed with Red Hat redhatrelease2 key\",\n                                    \"oval\":
      \"oval:com.redhat.rhsa:tst:20191152002\"\n                                }\n
      \                           ]\n                        }\n                    ]\n
      \               },\n                \"rhsa\": {\n                    \"id\":
      \"RHSA-2019:1152\",\n                    \"released\": \"2019-05-13\",\n                    \"severity\":
      \"Important\",\n                    \"title\": \"RHSA-2019:1152: python-jinja2
      security update (Important)\"\n                }\n            },\n            {\n
      \               \"rhsa\": {\n                    \"id\": \"RHSA-2019:1237\"\n
      \               }\n            },\n            {\n                \"rhsa\":
      {\n                    \"id\": \"RHSA-2019:1329\"\n                }\n            }\n
      \       ],\n        \"rpms\": [\n            \"python3-jinja2-0:2.10.1-2.el8_0\",\n
      \           \"rh-python35-python-jinja2-0:2.8.1-2.el6\",\n            \"rh-python35-python-jinja2-0:2.8.1-2.el7\",\n
      \           \"rh-python36-python-jinja2-0:2.9.6-3.el6\",\n            \"rh-python36-python-jinja2-0:2.9.6-3.el7\",\n
      \           \"ansible-runner-0:1.3.4-2.el7ar\",\n            \"ansiblerole-foreman_scap_client-0:0.0.3-1.el7sat\",\n
      \           \"ansiblerole-insights-client-0:1.6-2.el7sat\",\n         [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://cve.circl.lu/api/cve/CVE-2014-1402
  response:
    content: "{\n    \"Modified\": \"2017-12-22T02:29:00\",\n    \"Published\": \"2014-05-19T14:55:00\",\n
      \   \"access\": {\n        \"authentication\": \"NONE\",\n        \"complexity\":
      \"MEDIUM\",\n        \"vector\": \"LOCAL\"\n    },\n    \"assigner\": \"cve@mitre.org\",\n
      \   \"capec\": [\n        {\n            \"id\": \"76\",\n            \"name\":
      \"Manipulating Web Input to File System Calls\",\n            \"prerequisites\":
      \"Program must allow for user controlled variables to be applied directly to
      the filesystem\",\n            \"related_weakness\": [\n                \"15\",\n
      \               \"22\",\n                \"23\",\n                \"264\",\n
      \               \"272\",\n                \"285\",\n                \"346\",\n
      \               \"348\",\n                \"59\",\n                \"715\",\n
      \               \"73\",\n                \"74\",\n                \"77\"\n            ],\n
      \           \"solutions\": \"Design: Enforce principle of least privilege. Design:
      Ensure all input is validated, and does not contain file system commands Design:
      Run server interfaces with a non-root account and/or utilize chroot jails or
      other configuration techniques to constrain privileges even if attacker gains
      some limited access to commands. Design: For interactive user applications,
      consider if direct file system interface is necessary, instead consider having
      the application [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://cve.circl.lu/api/cve/CVE-2020-28493
  response:
    content: "{\n    \"Modified\": \"2022-04-08T14:05:00\",\n    \"Published\": \"2021-02-01T20:15:00\",\n
      \   \"access\": {\n        \"authentication\": \"NONE\",\n        \"complexity\":
      \"LOW\",\n        \"vector\": \"NETWORK\"\n    },\n    \"assigner\": \"report@snyk.io\",\n
      \   \"capec\": [\n        {\n            \"id\": \"197\",\n            \"name\":
      \"XML Entity Expansion\",\n            \"prerequisites\": \"This type of attack
      requires that the target must receive XML input but either fail to provide an
      upper limit for entity expansion or provide a limit that is so large that it
      does not preclude significant resource consumption.\",\n            \"related_weakness\":
      [\n                \"400\",\n                \"770\"\n            ],\n            \"solutions\":
      \"Design: Use libraries and templates that minimize unfiltered input. Use methods
      that limit entity expansion and throw exceptions on attempted entity expansion.
      Implementation: Disable altogether the use of inline DTD schemas in your XML
      parsing objects. If must use DTD, normalize, filter and white list and parse
      with methods and routines that will detect entity expansion from untrusted sources.\",\n
      \           \"summary\": \"An attacker submits an XML document to a target application
      where the XML document uses nested entity expansion to produce an excessively
      large output XML. XML allows the definition of macro-like structures that can[...]
[...]
