interactions:
- request:
    body: '{"version": "100.0.0", "package": {"name": "jinja2", "ecosystem": "PyPI"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.osv.dev/v1/query
  response:
    content: '{}'
    headers:
      X-Cloud-Trace-Context:
      - a28abb58a30c67d904eed7bfa92661ba
      content-type:
      - application/json
      grpc-accept-encoding:
      - identity, deflate, gzip
      grpc-status:
      - '0'
    status_code: 200
version: 1
